* {
  margin: 0px;
  padding: 0px;
  
}

html {
  overflow: hidden;
}
body {
  overflow: hidden;
}
.naykaa_nav {
  align-items: center;
}

.naykaa_nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

.naykaa_nav ul a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.naykaa_nav ul li a img {
  height: 80px;
  width: 150px;
}

/* Nav_bar part two */

.nav_part_two {
}

.nav_part_two ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.nav_part_two ul li img {
  height: 100px;
  width: 100px;
}

.hero_grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
}
.hero_grid article {
  background-color: black;
  height: 400px;
  width: 400px;
  margin: 20px;
  background-image: url("https://indian-retailer.s3.ap-south-1.amazonaws.com/s3fs-public/styles/webp/public/2022-11/NYKAA%20Pink%20Friday%20%282%29.jpg.webp?itok=VnP9bJj7");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_grid article div .img1 {
  height: 300px;
  width: 300px;
  /* background-size: cover; */
}
