*{
    margin: 0px;
    padding: 0px;
}

.navbar ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(175, 69, 30);
}

.navbar ul li a
{
    text-decoration: none;
    margin: 20px;
    color: black;
}