*
{
    margin: 0px;
    padding: 0px;
}

.two_sec_nav ul li img
{
width: 100px;
border-radius: 50%;
height: 80px;
/* margin-right: 100px; */
}

.two_sec_nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(2, 22, 40);
    
}

.two_sec_nav ul li ul li a
{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    color: rgb(188, 152, 133);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
    
}
